/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation */
nav {
    background: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

/* Main Layout */
main {
    display: flex;
    min-height: 400px;
}

.content {
    flex: 3;
    background: #d3d3d3;
    /* light gray */
    padding: 20px;
}

aside {
    flex: 1;
    background: #fff;
    padding: 20px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}